*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    a:hover
}
a:hover{
    text-decoration: none;
}
.clearr{
    overflow: hidden;
}

body{
    background-image: url('../img/bg.jpg') no-repeat;
    background-position: cover;
    background-attachment: fixed;
    font-family: Arial;
    font-size: 16px;
    line-height: 18px;
    color: #000;
}


.headersection {
    background-color: #C6C6C6;
    height: 120px;
}
.logo {
    float: left;
    height: 200px;
    width: 500px;
}
.logo img {
    height: 341px;
    margin-left: -100px;
    margin-top: -60px;
    width: 310px;
}
.testtt {
    float: right;
    margin-top: 80px;
    width: 200px;
}

.social {
    float: right;
    margin-right: -400px;
    margin-top: 31px;
    width: 250px;
}
.social i {
    color: #333;
    font-size: 30px;
    margin-left: 26px;
}
.social i:hover{ color:blue;}

.testtt {
    float: right;
    margin-top: 80px;
    width: 200px;
}


/*login form start*/

form {
    border: 3px solid #f1f1f1;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 30%;
    border-radius: 50%;
    height: 30%;
}

.conteiner {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/*login form end*/
/*sign in start*/

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */


/* Extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,.signupbtn {
    float: left;
    width: 50%;
}

/* Add padding to container elements */
.conteiner {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}
/*sign in end*/

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: -1px;
    border: 1px solid transparent;
    margin-top: -1px;
}

.navsection {
background-color: #CACACA;
    border-top: 1px solid #999;
}
.mainmenu{
    float:left;
}
.mainmenu ul{
    dispaly:inline-block;

}

.mainmenu ul li{
    list-style: none;
    display: block;
    float: left;
    margin:20px;
}

.mainmenu ul li a {
    padding: 9px;
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.mainmenu ul li a:hover{
    background-color: #fff;
    color:#333;
    border-bottom: 2px solid blue;
}

.search {
    float: right;
    margin-top: 5px;
}
.maincontentsection {
    background-color: #C6C6C6;
    border: 1px solid #e8e8cd;
    margin-bottom: -10px;
}
.maincontent {
    border-right: 1px solid #4c4c4c;
    margin-left: -25px;
}

.contentsection {
    padding:10px;
    margin-right:10px;

}
.contentsection h2 {
    border-bottom: 2px solid blue;
    margin: 14px 2px 9px;
    padding: 5px;
    text-transform: uppercase;
    font-size: 25px;
}
.contentsection img {
    background-color: #ddd;
    float: left;
    height: 128px;
    line-height: 18px;
    margin-bottom: 16px;
    margin-right: 17px;
    padding: 0;
    width: 200px;
}
.contentsection img:hover {
    opacity: 0.5;
}
.contentsection article{
    text-align: justify;
    line-height:20px;
}
.readmore {
    background-color: #fff;
    float: right;
    width: 120px;
}
.readmore p {
    color: blue;
    font-weight: bold;
    text-align: center;
    margin-top: 12px;
}
.sidebar {
    margin-left: -16px;
    margin-right: 5px;
    padding: 10px;
    background-color: #C6C6C6;
}
.sidebardiv {
    padding: 5px;
}
.sidebardiv h2{
    background-color:#709186;
    border-bottom:2px solid #555555;
    color:#fff;margin-bottom:8px;
    padding:10px;
}
.sidebardiv ul{
    margin:0;padding:0;
    list-style:none;
}
.sidebardiv ul li {
    font-size: 19px;
    text-transform: capitalize;
    padding: 5px 8px;
    padding-left:0;
    border-bottom: 1px dotted #708FD1;
}
.sidebardiv ul li:last-child{
    border-bottom: 0px dotted #708FD1;
}
.sidebardiv ul li a {
    text-decoration: none;
    color:#709186;
}
.sidebardiv ul li a:hover{
    color:blue;
}
.popular{}
.popular h3{
    font-weight:normal;
    font-size: 20px;
    padding-left: 2px;
    border-bottom: 1px dotted #3A5068;
    margin-bottom: 6px;
    color: #000;
    text-transform: capitalize;
}
.popular h3:hover{
    color:blue;
    text-decoration:none;
}
.popular img{
    height:100px;
    width: 100px;
    background-color: #fff;
    padding: 1px 2px;
    margin-right: 8px;
    float: left;
    margin-top: 8px;
    border-radius: 6px;
}
.popular p{
    text-align: justify;
}
.servicesection {
    background-color: #999;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    margin: 10px 0 0;
    padding: 2px;
}
.notification{}

.notification h1{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    margin: 15px;
    font-weight: bold;
    border-bottom: 1px solid #777888;
}
.service{

}
.service h1 {
    color:#000;
    border-bottom: 2px solid #ccc;
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}
.service img {
    height: 200px;
    width: 390px;
}
.service img:hover{
    opacity: 0.5;
}
.service p {
    color:#000;
    font-size: 16px;
    line-height: 23px;
    text-align: justify;
}

.footertop{margin-top: 10px;}

.mainaddress {
    background-color: #DCDCF7;
    margin-bottom: 0px;
}
.address{}
.address h1 {
    font-size: 27px;
    text-transform: capitalize;
    padding: 15px;
    margin-bottom: 10px;
    border-bottom: 2px solid #777;
    text-align: center;
}
.address p {
    font-size: 19px;
    margin: 20px;
    text-align: center;
}

.footermid{}
.footer_mid_navbar{
    background-color: #C6C6C6;
}
.footermenu {
    float: left;
    width: 600px;
    margin-top: 16px;
}
.footermenu ul{
    display:inline;
}
.footermenu ul li {
    display: block;
    float: left;
    margin-bottom: 10px;
}
.footermenu ul li a {
    color: #333;
    font-size: 20px;
    margin-bottom: -46px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 4px;
}
.footersocial {
    float: right;
    margin-right: 40px;
    width: 320px;
}

.footersocial img {
    border: 1px solid black;
    border-radius: 50%;
    float: left;
    margin-left: 12px;
}

.mainbottom{}
.copyright {
    background-color: slategray;
    height: 70px;
}
.copyright p {
    font-size: 20px;
    text-align: center;
    padding: 27px;
    color: #fff;
    text-transform: capitalize;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}
tr:nth-child(even)>td{

    background-color: #c8e5bc;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #555;
}
.contactus{
    border:1px solid grey;
    padding: 50px;
}
.about{}

.about h1 {
    border-bottom: 2px solid #777;
    color: blue;
    font-size: 29px;
    font-weight: bold;
    margin: 15px;
    padding: 30px;
    text-align: center;
}
.about img {
    width: 700px;
    text-align: center;
    margin-left: 29px;
}

.about article {
    text-align: justify;
    margin-left: 16px;
    line-height: 23px;
    margin-top: 35px;
}
.about button{
    margin-top:30px;
    margin-left: 50px;
    padding: 10px;
}
.Services{
    width: 700px;
}
.sameservice{
    float: left;
}
.gallery {
    margin-top: 13px;
}

.stinfo{
    margin-top: 13px;
    margin-left: -26px;
    margin-right: -22px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}




#myDIV {
    width: 90%;
    padding: 30px 8px;
    text-align: justify;
    background-color: lightblue;
    margin-top:20px;
}
.countdown {
    background-color: #777888;
    line-height: 80px;
    margin-bottom: -11px;
}

.mentorhead {
    width: 747px;
}
.mentorhead h1 {
    border-bottom: 2px solid #999;
    color: green;
    font-size: 35px;
    margin-left: -60px;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
}
.mentor {
    margin-left: -123px;
    width: 970px;
    margin-top: 95px;
}

.pagination{display: block;font-size: 16px;margin-top: 20px;padding: 10px;text-align: center;}
.pagination a {
    background-color: #5d798e;
    border: 1px solid #a7700c;
    border-radius: 3px;
    color: #DDDDDD;
    margin-left: 5px;
    padding: 8px 20px;
    text-decoration: none;
}
.pagination a:hover{background-color: #0A246A;
color: #ffffff;}


.notfound {
    min-height: 400px;
    padding-top: 100px;
}
.notfound p {
    font-size: 100px;
    font-weight: bold;
    line-height: 137px;
    text-align: center;
}
.notfound p span {
    color: #ff0000;
    display: block;
    font-size: 200px;
}
/*.imageresige{
    width: 200px;
    min-height: 150px;}*/
.imageresige {
    height: 150px;
    width: 260px;
    margin-bottom: 8px;
    padding:6px;
    border: 1px dotted black;
}