.headersection { background-color: #C6C6C6;}
.social i { color: #989898;}
.navsection {background-color: #CACACA; border-top: 1px solid #999;}
.mainmenu ul li a {color: #444; }
.maincontentsection {background-color: #C6C6C6; border: 1px solid #e8e8cd;}
.sidebar {background-color: #C6C6C6; }
.readmore { background-color: #fff;}
.sidebardiv ul li a {color: #709186;}
.readmore p {color:blue;}
.pagination a { background-color: #5d798e; border: 1px solid #a7700c;}
.pagination a:hover{background-color: #0A246A;}
.sidebardiv h2 {background-color: #709186;border-bottom: 2px solid #555555; }
.mainaddress {background-color: #DCDCF7;}
.footer_mid_navbar { background-color: #c6c6c6;}
.copyright {background-color: slategray;}
.footermenu ul li a {color: #333;}
