/*green*/
.headersection { background-color: #006400;}
.social i { color: #fff;}
.navsection {background-color: #008334;border: 1px solid #008080;}
.mainmenu ul li a {color: #FFFF68; background-color: #00804C;}
.maincontentsection {background-color: #00833C;border: 1px solid green;}
.sidebar {background-color: #008032; border: 1px solid #008079;}
.contentsection h2 a{ color:#fff;}
.sidebardiv ul li a {color: #ddd; }
.contentsection h4 a { color:#fff;}
.readmore { background-color: #008026;}
.readmore p {color: #fff;}
.pagination a { background-color: darkgreen;border: 1px solid darkgrey;}
.pagination a:hover{background-color:forestgreen;}
.sidebardiv h2 {background-color: darkgreen;border-bottom: 2px solid green;}
.popular h3 a {color: #fff}
.mainaddress {background-color: #008334;}
.footer_mid_navbar {background-color: darkgreen;}
.copyright {background-color: darkgreen;}
.footermenu ul li a {color: #a2a2a2;}